dist/
out/
node_modules/
crypto/
*.vsix

# Generated proto types
pkg/proto/
src/proto/
webview/src/lib/proto/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
